.imgg img{
 height: 80px;

}
.imgg{
    background-color: rgb(175, 175, 163)
}
.header{
    text-align: center;
}

.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;

}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover{
background-color: gray;
}

.header nav small{
color: white;
font-size: 15px;
text-align: end;
margin-left: 30px;
/* border: 1px solid lightgray; */
}

